.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
*.log
*.sql
*.zip
*.tar
*.gz
.idea
.vscode
docker-compose.yml
docker-compose.yaml